// Define variables for your color scheme
// $blue:    #1B212C;
// $indigo:  #6610f2;
// $purple:  #6f42c1;
// $pink:    #d63384;
// $red:     #dc3545;
// $orange:  #fd7e14;
// $yellow:  #ffc107;
// $green:   #0dcaf0;
// $teal:    #20c997;
// $cyan:    #0dcaf0;
$gray: #0E0000;
$light-gray: #F4F4F4;

// GH Brand Colours
$gh-blue: #1B212C;
$gh-blue-lighten: lighten($gh-blue, 10%);
$gh-purple: #3F51B5;
$gh-purple-darken: darken($gh-purple, 20%);
$gh-green: #00CCAA;
$gh-light-green: #99EBDD;

$gh-light-purple: #929CD5;
$gh-red: #DC2626;

$gh-black: #000000;
$gh-900: #1B212C;
$gh-800: #2D3648;
$gh-700: #4A5468;
$gh-600: #717D96;
$gh-500: #A0ABC0;
$gh-400: #CBD2E0;
$gh-300: #E2E7F0;
$gh-200: #EDF0F7;
$gh-100: #F7F9FC;
$gh-white: #FFFFFF;
$gh-red: #DC2626;

$text-decoration: none;
/* app/assets/stylesheets/custom.css */
// .bg-blue {
//   background-color: $gh-blue;
// }
