/* Effect Styles  */
.dropshadow {
  box-shadow: 0.0000rem 0.5000rem 0.6250rem 0rem rgba(0, 0, 0, 0.2), 0.0000rem 0.3750rem 1.8750rem 0rem rgba(0, 0, 0, 0.12), 0.0000rem 1.0000rem 1.5000rem 0rem rgba(0, 0, 0, 0.14);
}

.elevation1 {
  box-shadow: 0.0000rem 0.2500rem 1.1250rem 0rem rgba(255, 255, 255, 0.17);
}

$elevation5 : 0.0000rem 0.5000rem 1.8750rem 0rem rgba(0, 0, 0, 0.12);


.elevation2 {
  box-shadow: 0.0000rem 0.0625rem 0.3125rem -22.6875rem rgba(0, 0, 0, 0.19);
}

.elevation3 {
  box-shadow: 0.0000rem 0.3750rem 1.0000rem 0rem rgba(0, 0, 0, 0.12);
}

.breadcrumb {
  margin: 2rem;
}

// Define variables for customization and maintenance
$divider-bg-color: $gh-purple;
$divider-radius: 15px;

// Divider class
.divider1 {
  height: 0.1875rem;
  align-self: stretch;
  width: 100%;
  background: $divider-bg-color;
  border-radius: $divider-radius;
  margin-bottom: 0.5rem;
}

// Divider class with margin
.divider2 {
  height: 0.1875rem;
  align-self: stretch;
  width: 100%;
  background: $divider-bg-color;
  border-radius: $divider-radius;
  margin: 1rem 0;
}
