/* Text truncation */
.text-overflow-ellipses {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Effect Styles  */
.dropshadow {
  box-shadow: 0.0000rem 0.5000rem 0.6250rem 0rem rgba(0, 0, 0, 0.2), 0.0000rem 0.3750rem 1.8750rem 0rem rgba(0, 0, 0, 0.12), 0.0000rem 1.0000rem 1.5000rem 0rem rgba(0, 0, 0, 0.14);
}

.elevation1 {
  box-shadow: 0.0000rem 0.2500rem 1.1250rem 0rem rgba(255, 255, 255, 0.17);
}

$elevation5 : 0.0000rem 0.5000rem 1.8750rem 0rem rgba(0, 0, 0, 0.12);


.elevation2 {
  box-shadow: 0.0000rem 0.0625rem 0.3125rem -22.6875rem rgba(0, 0, 0, 0.19);
}

.elevation3 {
  box-shadow: 0.0000rem 0.3750rem 1.0000rem 0rem rgba(0, 0, 0, 0.12);
}

.breadcrumb {
  margin: 2rem;
}

// Define variables for customization and maintenance
$divider-bg-color: $gh-purple;
$divider-radius: 15px;

// Divider class
.divider {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  height: 3px;
  background: #3F51B5;
  border-radius: 15px;
}

.divider1 {
  height: 0.1875rem;
  align-self: stretch;
  width: 100%;
  background: $divider-bg-color;
  border-radius: $divider-radius;
  margin-bottom: 0.5rem;
  &::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid $gh-purple
  }
}

// Divider class with margin
.divider2 {
  height: 0.1875rem;
  align-self: stretch;
  width: 100%;
  background: $divider-bg-color;
  border-radius: $divider-radius;
  margin: 1rem 0;
}

// text divider
.divider-b {
  font-size: 30px;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    flex: 1;
    border-bottom: 2px solid $gh-purple
  }
}

.divider-a {
  font-size: 30px;
  display: flex;
  align-items: center;

  &::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid $gh-purple
  }
}


.divider-between {
  flex: 1;
  position: relative;
  border-top: 2px solid #3f51b5;
  box-sizing: border-box;
  height: 0.125rem;
}
