
  <div class="step step2 d-none"  data-edit-step-target="step2">
    <div class="step-content">
        <div class="form-label-input">
          <%= f.input :representative_role, label: "Rôle du mandataire (représentant) intervenant dans la gestion de l'entreprise" %>
        </div>
        <div class="form-label-input">
          <%= f.input :representative_type, collection: ["Personne Morale", "Personne Physique"], label: "Type de personne", prompt: "Selectionne un type de personne" %>
        </div>
    </div>
    <div class="navigation">
      <button class="btn secondary btn-medium" type="button" data-action="click->edit-step#previous">Précédent</button>
      <%= f.button :submit, "Sauvegarder My Guide", class: "btn btn-medium" %>
    </div>
  </div>
