<div class="steps-menu">
	<a class="bold-xl current" data-edit-step-target="menustep0" data-action="click->edit-step#goToStep_0">
		<b>1</b>
    <!-- ICONE -->
    <i class="fa-regular fa-building" id="picto_id_company" data-name="Picto etablissement" aria-hidden="true"></i>

    <!-- /TITRE -->
    Identité de l'entreprise
	</a>
	<div class="step-line"></div>
	<a class="bold-xl" data-edit-step-target="menustep1" data-action="click->edit-step#goToStep_1">
		<b>2</b>
    <!-- /ICONE -->
    <i class="fa-solid fa-address-card" id="picto_id_entrepeneur" data-name="Picto identite entreprise" aria-hidden="true"></i>
    <!-- /TITRE -->
    Identité de l'entrepreneur

	</a>
	<div class="step-line"></div>
	<a class="bold-xl" data-edit-step-target="menustep2" data-action="click->edit-step#goToStep_2">
		<b>3</b>
    <!-- ICONE -->
    <i class="fa-solid fa-person-chalkboard" id="picto_composition" data-name="Picto composition" aria-hidden="true"></i>

    <!-- /TITRE -->
    Composition
	</a>
</div>
