// Components import from components.scss
@import 'components/container';
@import 'components/stepper';

// scss to transfert to components.scss
// Define the colors for easy maintenance
$badge-colors: (
  purple: $gh-purple,
  blue: $gh-blue,
  red: $gh-red,
  green: $gh-green,
);

// Base styling for the badge
.badge {
  width: 36px;
  height: 36px;
  border-radius: 50%;


  // position: absolute;
  // left: -18px; // Half width to center the badge on the line
  // z-index: 1000;

  @each $name, $color in $badge-colors {
    &-#{$name} {
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: bold;
      background-color: $color;
    }
  }


  &.completed {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    color: $gh-purple;
    @include fa-icon-solid($fa-var-circle-check);
    size: 36px;

  }
  &.notstarted {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    background-color: $gh-200; // Gray indicates not started step
    color: $gh-purple;
    border: $gh-purple 2px solid;

  }

  &.active {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    background-color: $gh-purple; // Purple indicates active step
    color: #fff;
  }
  &.error {

    border-color: red; // Red indicates validation errors

  }
}


.icon {
  width: 36px;
  height: 36px;

  &.circle-check {
    @include fa-icon-solid($fa-var-circle-check);
  }
}




.banner {
  background: url('banner-image.jpg') no-repeat center center;
  background-size: cover;
  padding: 2rem;
  text-align: center;
  color: white;

  .container1 {
      max-width: 1200px;
      margin: 0 auto;
  }

  .heading-xxl {
      font-size: 2.5rem;
      margin-bottom: 1rem;
  }

  .regular-xl {
      font-size: 1.25rem;
      margin-bottom: 2rem;
  }

  .btn {
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 0.25rem;
      text-decoration: none;

      &:hover {
          background-color: #0056b3;
      }
  }
}



.title {
  color: #2D3648;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;

  &.xl {
    font-size: 4rem;
  }

  &.lg {
    font-size: 3rem;
  }

  &.md {
    font-size: 2.5rem;
  }
}

.subtitle-xl {
  color: #2D3648;
  font-size: 2.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;

}
