<div class= "py-5">
  <h1 class="bold-xxl text-center">Modifier ce rappel</h1>

  <%= render 'form' %>

  <div class="text-center py-3">
    <%= link_to 'Retour', @reminder %> |
    <%= link_to "Retourner sur le profil", @user %> |
  </div>
</div>
