 <p class="subtitle edit">Ce statut offre une approche simplifiée pour démarrer une activité indépendante. Ses avantages: gestion administrative légère, fiscalité simplifiée et cotisations sociales basées sur le chiffre d'affaires. C'est une option idéale pour les débutants ou les travailleurs à temps partiel.</p>
