<% marker_images = {
  "AFE" => "AFE.png",
  "BGE Parif" => "BGE.png",
  "CCI Paris" => "CCI.png",
  "BPI France" => "BPI.png",
  "Station F" => "stationf.png",
} %>

<% marker_images.each do |platform_name, image_name| %>
  <% if platform.name.downcase == platform_name.downcase %>
    <%= image_tag image_name, height: 60, width: 60, alt: "Image" %>
  <% end %>
<% end %>

<h2><%= platform.name %></h2>
<p><%= platform.address %></p>
