<!-- This is the view for the edit action of the ArticlesController -->

<div class="container-editor">
  <%= link_to "⬅️ Retourner sur l'article", @article, class: "link-editor" %>

  <h1 class="text-center title-editor">📝 <%= @article.title %></h1>
  <%= render "form", article: @article %> <!-- form for new and edit : app/views/articles/_form.html.erb -->
</div>
