<h1>Articles#new</h1>
<p>Find me in app/views/articles/new.html.erb</p>
<h1><%= @article.title %></h1>

<%= render "form", article: @article %>

<br>

<div>
  <%= link_to @sub_category.name, category_sub_category_path(@sub_category.category_id, @sub_category.id) %>
</div>
