<div class="container3">
        <div class="menu">
          <div class="menu-icon">
              <div class="icon"></div>
          </div>
          <div class="menu-text">Home/categories/subcategories</div>
        </div>

        <div class="content1">
          <div class="title" style="margin: 15px">Se lancer en freelance</div>

          <div class="subtitle" style="margin: 15px">Body Extra Large. Most fonts have a particular weight which corresponds to one of the numbers in Common weight name mapping. However some fonts, called variable fonts, can support a range of weights with a more or less fine granularity, and this can give the designer a much closer degree of control over the chosen weight.</div>



        </div>


</div>


<%= link_to 'Commencer mes démarches', new_article_my_guide_path(article_id: @article.id), class: 'btn btn-small' %>

<%= link_to 'Éditer', edit_article_path(@article), class: 'btn btn-small outline', style: 'background-color: $gh-purple'  %>
<%= button_to "Supprimer cet article", @article, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-small danger'%>
