<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Se lancer en freelance</title>
  </head>

  <body>
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Title:</strong>
      <%= @article.title %>
    </p>

    <p>
      <strong>Body:</strong>
      <%= @article.rich_body %>
      <%= @article.description %>
    </p>



  </body>
</html>
