<h1>Articles#update</h1>
<p>Find me in app/views/articles/update.html.erb</p>


<div class="subsection">
  <div class="card gh-gray">
    <div class="card-title">Choisis la structure juridique de ton activité</div>
    <div class="card-subtitle">Choisir la structure juridique de ton activité est une étape cruciale. Elle détermine la gestion de tes finances, tes obligations légales, ainsi que tes risques et responsabilités. Prends le temps de bien réfléchir pour trouver la formule qui correspondra le mieux à tes besoins et objectifs professionnels.</div>
  </div>
  <div class="illustration">
    <img src="app/assets/images/choice.png" class="responsive-image" alt="Choice">
  </div>
</div>

<div class="divider1"></div>

<div class="container py-5">
  <div class="article-title">Les différentes structures juridiques pour les freelances</div>
  <p>Il existe plusieurs options pour structurer ton activité en freelance. Chaque structure a ses propres avantages et inconvénients en termes de responsabilité, fiscalité et gestion administrative. Voici un aperçu des principales formes juridiques que tu peux choisir pour ton activité indépendante:</p>

  <!-- Entrepreneur individuel Section -->
  <div class="mt-5">
    <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#toggleIndividualEntrepreneur" aria-expanded="false" aria-controls="toggleIndividualEntrepreneur">
      Entrepreneur individuel ⬇️
    </button>
    <div class="collapse" id="toggleIndividualEntrepreneur">
      <div class="dropdown-outline">
        <p class="mb-2 article-subtitle"><strong>Auto-entreprise</strong></p>
        <ul>
          <li>Forme simplifiée d'entreprise individuelle souvent utilisée par les freelances</li>
          <li>Formalités administratives allégées</li>
          <li>Comptabilité simplifiée</li>
          <li>Impôts et cotisations sociales sur la base de ton chiffre d'affaires réel</li>
        </ul>
        <p class="mb-2 article-subtitle"><strong>Entreprise Individuelle</strong></p>
        <ul>
          <li>Tu es considéré comme une seule entité avec ton entreprise</li>
          <li>Tu es donc responsable de toutes les dettes et obligations commerciales</li>
          <li>Les revenus de l'entreprise sont inclus dans ta déclaration de revenus personnelle</li>
        </ul>
        <p class="mb-2 article-subtitle"><strong>Entreprise Individuelle à Responsabilité Limitée</strong></p>
        <ul>
          <li>Permet de séparer ton patrimoine personnel de celui de ton entreprise</li>
          <li>Ce qui protège tes biens personnels en cas de difficultés financières de ton entreprise</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Personne morale Section -->
  <div class="mt-5">
    <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#togglePersonneMorale" aria-expanded="false" aria-controls="togglePersonneMorale">
      Personne morale ⬇️
    </button>
    <div class="collapse" id="togglePersonneMorale">
      <div class="dropdown-outline">
        <p class="mb-2 article-subtitle"><strong>Société par Actions Simplifiée Unipersonnelle</strong></p>
        <ul>
          <li>Forme de société plus complexe où tu es le seul actionnaire</li>
          <li>Responsabilité plus limitée</li>
          <li>Formalités administratives et comptables plus complexes</li>
        </ul>
        <p class="mb-2 article-subtitle"><strong>Société par Actions Limitée</strong></p>
        <ul>
          <li>Seulement si tu as l'intention de travailler avec d'autres personnes!</li>
          <li>Offre une responsabilité limitée et une séparation des actifs personnels et professionnels</li>
          <li>Implique également des formalités plus lourdes</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Exploitation en commun Section -->
  <div class="mt-5">
    <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#toggleExploitationEnCommun" aria-expanded="false" aria-controls="toggleExploitationEnCommun">
      Exploitation en commun ⬇️
    </button>
    <div class="collapse" id="toggleExploitationEnCommun">
      <div class="dropdown-outline">
        <p class="mb-2 article-subtitle"><strong>Le Portage salarial</strong></p>
        <ul>
          <li>Exercer une activité indépendante sans créer sa propre entreprise</li>
          <li>Statut de consultant ou prestataire de services pour une entreprise de portage salarial</li>
          <li>L'entreprise facture les clients pour les services fournis par ces consultants et leur verse un salaire en tant que salariés</li>
          <li>Permet de bénéficier des avantages du statut de salarié tout en conservant une certaine autonomie</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Conseil section -->
  <div class="subsection d-flex align-items-center mt-5">
    <div class="card gh-gray">
      <div class="card-title">Notre conseil</div>
      <div class="card-subtitle">Pour ceux qui envisagent de devenir freelances, la meilleure option est souvent de choisir le statut d'<strong>auto-entrepreneur</strong>. C'est un choix populaire en raison de sa simplicité administrative, de sa faible charge fiscale et de la protection des biens personnels en cas de difficultés financières. C'est un excellent point de départ pour tester une activité ou démarrer une petite entreprise. Il est important de bien comprendre les implications des différents statuts en discutant avec d'autres auto-entrepreneurs expérimentés ou en recherchant des informations supplémentaires auprès d'organismes publics spécialisés tels que le site officiel du gouvernement dédié à l'entrepreneuriat en France (https://entreprendre.service-public.fr/).</div>
    </div>
    <div class="illustration">
      <img src="app/assets/images/idee.png" class="responsive-image" alt="Idee">
    </div>
  </div>

  <!-- Document checklist -->
  <div class="mt-5">
    <div class="article-title">Avant de commencer les démarches, rassemble ces documents pour pouvoir remplir ton formulaire</div>
    <ul class="list-group">
      <li class="list-group-item bg-white">
        <input class="form-check-input me-1" type="checkbox"> Récépissé de dépôt de déclaration préalable délivré par la Préfecture (étranger ne résidant pas en France)
      </li>
      <li class="list-group-item bg-white">
        <input class="form-check-input me-1" type="checkbox"> Attestation de renonciation à la protection du patrimoine personnel
      </li>
      <li class="list-group-item bg-white">
        <input class="form-check-input me-1" type="checkbox"> Attestation notariée relative à l’insaisissabilité ou à la renonciation de l'insaisissabilité de la résidence principale
      </li>
      <li class="list-group-item bg-white">
        <input class="form-check-input me-1" type="checkbox"> Procuration signée de la personne pour le compte de laquelle le mandataire effectue la formalité
      </li>
    </ul>
  </div>
  <!-- BUTTON_PLACEHOLDER -->
</div>


<%= raw @article.raw_html_content.gsub('app/assets/images/choice.png', asset_path('choice.png'))
                                .gsub('app/assets/images/idee.png', asset_path('idee.png'))
                                .gsub('app/assets/images/AFE.png', asset_path('AFE.png'))
                                .gsub('app/assets/images/BGE.png', asset_path('BGE.png'))
                                .gsub('app/assets/images/CCI.png', asset_path('CCI.png'))
                                .gsub('app/assets/images/BPI.png', asset_path('BPI.png'))
                                .gsub('app/assets/images/stationf.png', asset_path('stationf.png'))
                                .gsub('app/assets/images/malt.jpg', asset_path('malt.jpg'))
                                .gsub('app/assets/images/upwork.jpeg', asset_path('upwork.jpeg'))
                                .gsub('app/assets/images/comeup.jpg', asset_path('comeup.jpg'))
                                .gsub('app/assets/images/creme.jpg', asset_path('creme.jpg')) %>
<% article_images = {
  "les étapes essentielles pour devenir freelance" => "etapes.jpg",
  "stratégies de marketing pour les freelances" => "marketing_article.jpg",
  "gestion financière pour les freelances" => "finance_article.jpg",
  "les outils indispensables pour les freelances" => "photo_freelance_article.jpg",
  "conseils pour réussir en tant que freelance" => "reussir.jpg",
  "réseautage efficace pour les freelances" => "reseau.jpg"
} %>

<% article_images.each do |article_title, image_name| %>
  <% if article.title.downcase == article_title %>
    <div class="card-card" style="background-image: url('<%= image_path(image_name) %>')">
      <div class="layer">
        <div class="content">
          <h2 class="name"><%= article.title %></h2>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
