<% category_images = {
  "logement" => "cat_logement.jpg",
  "santé" => "cat_sante.jpg",
  "travail" => "cat_travail.jpg",
  "finance" => "cat_finances.jpg",
  "voiture" => "cat_voiture.jpg",
  "administratif" => "cat_admin.jpg"
} %>


<div class="subcategory-card"
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path category.photo.key, height: 300, width: 400, crop: :fill if category.photo.attached? %>')">
  <div class="layer">
    <div class="content">
      <h3 class="title-xl white"><%= category.name %></h3>
    </div>
  </div>
</div>
