<div class="category-card" style="background-image: url('<%= "https://picsum.photos/seed/#{category.id}/200/300" %>')">
  <div class="layer">
    <div class="content">
      <h2 class="name"><%= category.name %></h2>
      <!--<h3 class="description"><%= category.description %></h3>-->
    </div>
  </div>
</div>
