<div class="footer">
  <div class="footer-links">
  <%= image_tag "brand_logo.svg", style: "width: 4rem; margin-right: 10px" %>
  Copyright 2022 Company Name.</div>
  <div class="footer-links">
    <div>Policy privacy</div>
    <div>Terms & Conditions</div>
    <div>Cookie Policy</div>
    <div>Contact</div>
  </div>
</div>
