<footer class="footer">
  <div class="col-8 footer-info">
    <div class="footer-brand">
      <%= image_tag "brand_logo.svg", style: "width: 4rem; margin-right: 10px" %>
      <div class="footer-heading">GrownUp hack</div>
    </div>
    <div class="footer-description">
      GrownUpHack est un projet développé dans le cadre de ma formation chez Le Wagon, conçu pour offrir une plateforme dynamique et interactive pour faciliter la transition vers l'indépendance des jeunes adultes.
    </div>
    <div class="footer-copy">
      Copyright © 2023. GrownUpHack. All rights reserved.
    </div>
  </div>
  <div class="col footer-links">
    <div class="footer-links-heading">À propos</div>
    <div class="footer-icons">
      <a href="https://www.linkedin.com/in/leaseica/" class="footer-icon" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://github.com/Leaseica" class="footer-icon" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://calendly.com/leaseica/rdv" class="footer-icon" target="_blank"><i class="fas fa-calendar-alt"></i></a>
    </div>
  </div>
</footer>
