<div class= "container">
  <h1 class="heading-xxl">Heading XXL</h1>
      <h2 class="heading-xl">Heading XL</h2>
      <h3 class="heading-l">Heading L</h3>
      <h4 class="heading-m">Heading M</h4>
      <h5 class="heading-s">Heading S</h5>
      <h6 class="heading-xs">Heading XS</h6>
      <p class="heading-xxs">Heading XXS</p>

      <p class="regular-xl">Body Text XL Regular</p>
      <p class="semi-bold-l">Body Text L Semi-Bold</p>
      <p class="bold-m">Body Text M Bold</p>
      <div class="divider1"></div>

      <button class="btn btn-large">Large Button</button>
      <button class="btn btn-medium">Medium Button</button>
      <button class="btn btn-small">Small Button</button>
</div>
