<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrownUpHack Homepage</title>
  </head>
  <body>
    <div class="banner">
      <div class="container">
        <h1 class="heading-xxl">Hacking 101 : Premiers pas sans faux pas</h1>
        <p class="regular-xl">Parce que savoir quand appeler le plombier est une science exacte.</p>
        <a class="btn btn-large" href="#">Découvrir</a>
      </div>
    </div>

    <div class="container">
      <div class="SearchBar">
        <div class="SearchIcon"></div>
        <div class="SearchText">Search</div>
      </div>
    
    </div>
  </body>
</html>
