<head>
    <title>Homepage - GrownUpHack</title>
    <meta name="description" content="Accompagnement dans le monde de l'indépendance adulte avec des outils et des ressources pour la gestion quotidienne.">
</head>
<body>
  <header class="hero-banner">
    <h1 class="title-xl white">Hacking 101 : Premiers pas sans faux pas</h1>
    <p class="subtitle">Parce que savoir quand appeler le plombier est une science exacte.</p>
    <%= link_to "Découvrir", categories_path, class: "btn btn-large" %>
  </header>

  <main class="container-home">
    <div id="root"></div>

    <section class="section">
      <h2 class="title">GrownUp Hack</h2>
      <p class="subtitle">GrownUp Hack est votre passerelle vers une maîtrise parfaite de l'indépendance adulte. Que vous débutiez dans le monde professionnel, que vous emménagiez dans votre premier appartement ou que vous naviguiez dans les méandres de la finance personnelle, nous sommes là pour vous guider à travers chaque étape avec des outils et des ressources conçus pour simplifier votre vie.</p>
    </section>

    <section class="subsection">
      <article class="card gh-gray">
        <h3 class="title-s gh-800">Apprend à gérer tes finances</h3>
        <p class="card-subtitle">Apprend à gérer votre budget, à investir intelligemment et à éviter les pièges financiers avec nos guides détaillés et interactifs.</p>
      </article>
      <figure class="illustration">
        <%= image_tag("finance.png", class: "responsive-image", alt: "Finance Management") %>
      </figure>
    </section>

    <div class="divider"></div>

    <section class="subsection">
      <figure class="illustration">
        <%= image_tag("scooter.png", class: "responsive-image", alt: "Practical Life") %>
      </figure>
      <article class="card gh-gray">
        <h3 class="title-s gh-800">La Vie Pratique Démystifiée</h3>
        <p class="card-subtitle">De la signature de ton premier bail à la compréhension des assurances, découvre des astuces et des conseils pratiques pour naviguer dans les aspects souvent complexes de la vie quotidienne.</p>
      </article>
    </section>

    <div class="divider"></div>

    <section class="subsection">
      <article class="card gh-gray">
        <h3 class="title-s gh-800">En terminer avec ta phobie administrative</h3>
        <p class="card-subtitle">Laisse derrière toi le casse-tête des démarches administratives grâce à nos guides pas-à-pas. Que ce soit pour tes impôts, tes démarches d'assurance ou la création d'une micro-entreprise, on te montre comment simplifier chaque processus.</p>
      </article>
      <figure class="illustration">
        <%= image_tag("admin.png", class: "responsive-image", alt: "Administrative Help") %>
      </figure>
    </section>
  </main>
</body>
