
<div class="calendar-container">
  <%= month_calendar(events: @reminders, end_attribute: :end_time) do |date, reminders| %>
    <%= date %>

    <% reminders.each do |reminder| %>
      <div class="reminder">
        <%= link_to reminder.title, reminder_path(reminder) %>
        <small><%= reminder.time unless reminder.multi_days? %></small>
      </div>
    <% end %>
  <% end %>
</div>
