<div class="card-card"
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path article.photo.key, height: 300, width: 400, crop: :fill if article.photo.attached? %>')">
  <div class="layer">
    <div class="content">
      <h3 class="title-xl white"><%= article.title %></h3>
    </div>
  </div>
</div>
