
<% if article %>
  <div class="subcategory-card"
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(article.photo.key, height: 300, crop: :fill) if article&.photo %>')">
    <div class="layer">
      <div class="content">
        <h2 class="name"><%= article.title %></h2>
      </div>
    </div>
  </div>
<% else %>
  <div class="subcategory-card">
    <div class="layer">
      <div class="content">
        <h2 class="name">
          <ul>
            <% random_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      </div>
    </div>
  </div>
<% end %>
