<div class="article-card">
  <%= image_tag(article.photo, class:"image") %>
  <div class="content">
    <h2 class="name"><%= article.title %></h2>
    <h3 class="description"><%= article.description %></h3>
  </div>
</div>
