<div class="subcategory-card" style="background-image: url('<%= "https://picsum.photos/seed/#{sub_category.id}/200/300" %>')">
  <div class="layer">
    <div class="content">
      <h2 class="name"><%= sub_category.name %></h2>


    </div>
  </div>
</div>
