<% sub_category_images = {
  "recherche d'emploi" => "recherche.jpg",
  "gestion de carrière" => "carriere.jpg",
  "droit du travail" => "droit.jpg",
  "formation" => "formation.jpg",
  "se lancer à son compte" => "se_lancer.jpg",
  "bien être au travail" => "zen.jpg"
} %>


<div class="subcategory-card"
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path sub_category.photo.key, height: 300, width: 400, crop: :fill if sub_category.photo.attached? %>')">
  <div class="layer">
    <div class="content">
      <h3 class="title-xl white"><%= sub_category.name %></h3>
    </div>
  </div>
</div>
