<!-- app/views/shared/cards/_card_article.html.erb -->
<!-- This snippet is used in app/views/sub_categories/show.html.erb -->

<div class="col">
  <div class="card text-center">
    <%= link_to article_path(card_item), aria: { label: "View details for #{card_item.title}" } do %>
      <img src="<%= cl_image_path card_item.photo.key, crop: :fill if card_item.photo.attached? %>" class="card-img" alt="Image for <%= card_item.title %>">
      <div class="card-img-overlay" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2))">
        <h3 class="title-xl white"><%= card_item.title %></h3>
      </div>
    <% end %>
  </div>
</div>
