.subcategory-card-link {
  display: flex;
  width: 400px;
  height: 324px;
  display: flex;
  align-items: stretch;
  text-decoration: none;

  .subcategory-card {
    flex: 1;
    background-size: cover;
    display: flex;
    align-items: stretch;
    padding: 0px;
    background-size: 105% 105%;
    background-position: center center;
    transition: background-color 200ms linear;

    .layer {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      box-sizing: border-box;
      background-color: rgba(0, 0, 0, 0.391);

      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
    }
  }

  &:hover {
    .subcategory-card {
      background-size: 100% 100%;
      transition: background-size 200ms ease-in-out;

      .layer {
        background-color: rgba(63, 81, 181, 0.4);
        backdrop-filter: blur(10px);
        transition: background-color 200ms ease-in-out;
        border: 1px rgba(63, 81, 181, 1) solid;
      }
    }
  }
}

#show_sub_categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  background: var(--linear-gray, #FFF);


  .section-row {
    justify-content: space-around;
  }
}
.card-index {
  display: flex;
  flex-direction: column;
  align-items: center;
}
