.footer {
  background-color: $gh-blue;
  padding: 60px 100px;
  color: #fff;
  display: flex;
  flex-direction: column;
  border-top: $gh-200 2px solid;


  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 52.78213rem;
    margin: 0 auto;
    gap: 1.3125rem;
  }

  .footer-brand {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .footer-logo {
      height: 50px;
      margin-right: 10px;
    }

    .footer-heading {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .footer-description {
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: start;
  }

  .footer-links {
    margin-bottom: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;

    .footer-links-heading {
      font-size: 1.5rem;
      font-weight: bold;
      color: $gh-green;
      margin-bottom: 10px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

    .footer-icons {
      display: flex;
      justify-content: center;

      .footer-icon {
        color: #fff;
        margin: 0 10px;
        font-size: 2rem;

        &:hover {
          color: #00d8a7;
        }
      }
    }
  }

  .footer-copy {
    font-size: 0.9rem;
  }
}
