
.reminder-container {
  display: grid;
  align-items: start;
}

.section {
  flex-direction: column;
  align-items: center;
}

.kanban {
  width: 100%;
  justify-content: center;
  border-radius: 0.25rem;
  padding: 1rem 0;
  margin-bottom: 1rem;

}

.cards-container {
  border-radius: 10px;
  padding: 1.25rem 1rem;
  flex-direction: column;
  align-items: stretch;
  gap: 0.875rem;

  &.a-faire {
    .cards-header {
      color:  $gh-purple;
    }
  }
  &.en-cours {
    .cards-header {
      color:  $gh-purple;
    }
  }

  &.termine {
    .cards-header {
      color:  $gh-light-purple;
    }
  }

  .cards-header {
    display: flex;
    align-items: center;
    gap: 0.625rem;
  }
}


.card-kanban {
  display: block;
  padding: 1.625rem 2.5625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  border-radius: 0.625rem;
  background: $gh-white;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);


  .icon-kanban {
    font-weight: 600;
    font-size: 1rem;
  }

  &.a-faire {
    border: 2px solid $gh-purple;

    .icon-kanban {
      color: $gh-purple;
    }
  }

  &.en-cours {
    border: 2px solid $gh-purple;

    .icon-kanban {
      color: $gh-purple;
    }
  }

  &.termine {
    border: 2px solid $gh-light-purple;
    color: $gh-600;

    a {
      color: $gh-600;
    }

    .icon-kanban {
      color: $gh-light-purple;;
    }
  }

  &__title {
    color: black;
    font-family: $body-font;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 140%;
    text-decoration-line: underline;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
  }

  // Additional styles for icons, text, forms, and progress bars as previously defined
}


/* For larger screens, ensure three columns */
@media (min-width: 992px) { /* Adjust breakpoint as needed */
  .reminder-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* For medium screens, two columns */
@media (min-width: 768px) and (max-width: 991px) {
  .reminder-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* For smaller screens, one column */
@media (max-width: 767px) {
  .reminder-container {
    grid-template-columns: 1fr;
  }
}
