

.my-guide-heading {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  padding: 0px;
}




  .form-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem 3rem;
    box-shadow: 0px 0px 32px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: $gh-200;

    // Styles des boutons de navigation (suivant/précédent)
    .navigation {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 8px;
    }

  }
