.container-user {
  padding: 4.5rem 4.875rem;
}
.profile-tab {
  display: flex;
  padding: 1.5rem 1.875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
}
.banner-profile {
  display: flex;
  padding: 1.875rem 2.75rem;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 0.5rem;
  background: var(--GH-Base-Colours-gh-200, #F7F9FC);

  /* elevation3 */
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.12);


  .header {
    display: flex;
    padding-top: 3.125rem;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;

    .sub-header {
      width: 37.5625rem;
      height: 5.125rem;
    }

  }

  .img {
    display: flex;
    height: 20.57688rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .procedure {
      width: 28.27325rem;
      height: 18.57688rem;
      flex-shrink: 0;
    }

    .infos {
      width: 36.5rem;
      height: 15.5rem;
      flex-shrink: 0;
    }
  }
}
.profile-tab {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
  padding: 1.5rem 1.875rem;
}

.banner-profile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  background: #F7F9FC;
  border-radius: 0.5rem;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  padding: 1.875rem 2.75rem;

  .header {
    flex: 1;
    padding-top: 3.125rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;

    .personal-info-title {
      color: #3F51B5;
    }
  }

  .user-header {
    display: flex;
    // padding-top: 3.125rem;
    // flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .img {
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .infos {
      width: 36.5rem; // Adjust as needed
      height: auto; // Keep the aspect ratio of the image
    }
  }

  .large-avatar {
    border: 2px solid $gh-purple; /* or use a different style as per the design */
    border-radius: 50%; /* Make avatar circular */
    padding: 4px; /* Space between the avatar image and border */
  }

  .user-info {
    margin-left: 130px; /* Space between avatar and user info text */
  }
}

.btn.edit-profile {
  background: transparent;
  border: 1px solid #3F51B5;
  color: #3F51B5;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .banner-profile {
    flex-direction: column;

    .header, .img {
      width: 100%;
    }

    .img .infos {
      order: 2; // Moves the image to the bottom on small screens
    }
  }
}


.banner-user{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  padding: 1.875rem 2.75rem;
  .avatar {
    border: 2px solid $gh-purple; /* or use a different style as per the design */
    border-radius: 50%; /* Make avatar circular */
    padding: 4px; /* Space between the avatar image and border */
  }
}
